In [0]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import accuracy_score, balanced_accuracy_score

%matplotlib inline

from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

In [0]:
data = pd.read_csv("/Admission_Predict.csv")

In [31]:
data.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [32]:
data.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [0]:
df = data.copy()

In [34]:
df.shape

(400, 9)

In [35]:
df.describe()

       Serial No.   GRE Score  ...    Research  Chance of Admit
count  400.000000  400.000000  ...  400.000000        400.000000
mean   200.500000  316.807500  ...    0.547500          0.724350
std    115.614301   11.473646  ...    0.498362          0.142609
min      1.000000  290.000000  ...    0.000000          0.340000
25%    100.750000  308.000000  ...    0.000000          0.640000
50%    200.500000  317.000000  ...    1.000000          0.730000
75%    300.250000  325.000000  ...    1.000000          0.830000
max    400.000000  340.000000  ...    1.000000          0.970000

[8 rows x 9 columns]

In [36]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [0]:
X = df.drop("Research", axis = 1)
y = df["Research"]

In [38]:
print(X.head(), "\n")
print(y.head())

   Serial No.  GRE Score  TOEFL Score  ...  LOR   CGPA  Chance of Admit
0           1        337          118  ...   4.5  9.65              0.92
1           2        324          107  ...   4.5  8.87              0.76
2           3        316          104  ...   3.5  8.00              0.72
3           4        322          110  ...   2.5  8.67              0.80
4           5        314          103  ...   3.0  8.21              0.65

[5 rows x 8 columns]

0    1
1    1
2    1
3    1
4    0
Name: Research, dtype: int64

In [39]:
print(X.shape)
print(y.shape)

(400, 8)
(400,)

In [40]:
columns = X.columns
scaler = StandardScaler()
X = scaler.fit_transform(X)
pd.DataFrame(X, columns=columns).describe()

         Serial No.     GRE Score  ...          CGPA  Chance of Admit
count  4.000000e+02  4.000000e+02  ...  4.000000e+02      4.000000e+02
mean   6.383782e-17 -3.785861e-16  ...  8.076873e-16     -3.314016e-16
std    1.001252e+00  1.001252e+00  ...  1.001252e+00      1.001252e+00
min   -1.727726e+00 -2.339367e+00  ... -3.020504e+00     -2.698500e+00
25%   -8.638630e-01 -7.685900e-01  ... -7.201909e-01     -5.922168e-01
50%    0.000000e+00  1.679859e-02  ...  1.859559e-02      3.966834e-02
75%    8.638630e-01  7.149218e-01  ...  7.783704e-01      7.417629e-01
max    1.727726e+00  2.023903e+00  ...  2.218165e+00      1.724695e+00

[8 rows x 8 columns]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 387235673)

In [42]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(300, 8)
(100, 8)
(300,)
(100,)

In [0]:
def test_model(model):
    print("mean_absolute_error: ", mean_absolute_error(y_test, model.predict(X_test)))
    print("median_absolute_error: ", median_absolute_error(y_test, model.predict(X_test)))
    print("accuracy: ", accuracy_score(y_test, model.predict(X_test).round()))
    print("balanced_accuracy: ", balanced_accuracy_score(y_test, model.predict(X_test).round()))

In [44]:
gr_100=GradientBoostingRegressor(n_estimators=100)
gr_100.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [45]:
test_model(gr_100)

mean_absolute_error:  0.31569576350996903
median_absolute_error:  0.21688105365467764
accuracy:  0.75
balanced_accuracy:  0.7521075873143316

In [46]:
ran_100 = RandomForestRegressor(n_estimators=100)
ran_100.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [47]:
test_model(ran_100)

mean_absolute_error:  0.297
median_absolute_error:  0.205
accuracy:  0.72
balanced_accuracy:  0.7213970293054998